{% extends 'base/base.html' %}
{% load static %}

{% block title %}
   Lista de Grados
{% endblock title %}
    

{% block extrahead %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock extrahead %}
    

        <!-- Page Heading -->
        
        {% block heading %}

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-2 text-gray-800">Catálogo de Banderas</h1>
                <a href="{% url 'nivel:bandera_agregar' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Nueva Bandera</a>
        </div>
        {% endblock heading %}
            

        {% block content %}
    
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Clave</th>
                      <th>Nombre</th>
                      <th>Categoria</th>
                  </tr>
                </tfoot>
                <tbody>
        
                    {% for a in object_list %}
                        <tr>
                            <td>{{a.clave}}</td>
                            <td>{{a.nombre}}</td>
                            <td>{{a.id_categoria}}</td>
                            <td>
                                <div class="dropdown mb-4">
                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-info-circle"></i>Editar</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-pen-square"></i>Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

{% include 'base/confirm_delete_modal.html' %}
{% endblock content %}

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



{% block extrascripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock extrascripts %}








