{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Nueva Categoria de Grados</h6>
        </div>
        <div class="card-body">
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>


{% endblock %}