{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block extrahead %}
    {{ form_base.media }}
{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Nueva Base para docente {{docente}}</h6>
        </div>
        <div class="card-body">
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Informacion de la Base</h3>
                {{ form_base.as_p }}
                <h3>Información del Oficio</h3>
                {{ form_oficio.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>


{% endblock %}